
/*轮播图*/
div.y_startPage{width: 100%;height:100%;}
div.y_startPage div.y_pic1{width: 100%;height: 100%;}
div.y_startPage div.y_pic1 div.y_pic2{width: 100%;height: 100%;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_firstPage{width: 100%;height:100%;background:rgb(71,213,205);position: relative;}
div.y_startPage div.y_pic1 div.y_pic2 a.y_btn{display: inline-block;width: 0.8rem;height: 0.8rem;float: right;margin: 0.1rem;}
div.y_startPage div.y_pic1 div.y_pic2 a.y_btn img.y_skip_nimation{width: 100%;height: 100%;display: block;animation-duration:2s;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_firstPage>img{animation-duration:2s;position:absolute;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_firstPage img.y_text{width:5.5rem;height:2.3rem;top:0;left: 0;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_firstPage img.y_food{width: 1.1rem;height: 1.1rem;top: 2.2rem;left: 2.8rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_firstPage img.y_phone{width: 2rem;height: 3.8rem;top: 2.8rem;left: 0.3rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_firstPage img.y_clothes{width:1.1rem;height: 1.1rem;top: 3rem; left: 4.5rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_firstPage img.y_people{width: 2.5rem;height: 4.2rem;top: 4.7rem;left: 3.3rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_firstPage img.y_voice{width: 1.1rem;height: 1.1rem;top: 7.5rem;left: 1rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage{width: 100%;height:100%;background:rgb(172,204,101);position: relative;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage>img{animation-duration:1s;position:relative;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_starry{width: 4.25rem;height: 4.4rem;position: absolute;top: 0.5rem;left: 50%;margin: 0 0 0 -2.15rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_light1{width: 1rem;height: 1rem;top: 1.8rem;left: 1.6rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_light2{width: 1rem;height: 1rem;top: 1.9rem;left: 2.1rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_light3{width: 1rem;height: 1rem;top: 3.2rem;left: -1.2rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_light4{width: 1rem;height: 1rem;top: 2.7rem;left: 0.3rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_hotel{width: 0.83rem;height: 0.65rem;top: -0.2rem;left: 0.8rem;animation-delay: 1s;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_car{width: 1.1rem;height: 0.5rem;top: -0.4rem;left: 2.4rem;animation-delay: 1s;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_watch{width: 1.4rem;height: 0.65rem;top: 1.6rem;left: -2.4rem;animation-delay: 1s;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_strong{width: 0.8rem;height: 0.7rem;top: 1rem;left: 0.7rem;animation-delay: 1s;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage img.y_hand{width: 3.3rem;height: 4rem;top: 1rem;right: -3.2rem;animation-delay: 2s;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_secondPage p.y_title{width: 2.55rem;font-size: 0.3rem;margin: 0 auto;color: white;padding-top: 20%;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_thirdPage{width: 100%;height:100%;background:rgb(91,171,229);position: relative;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_thirdPage img.y_nightLive{width: 5rem;height: 2rem;position: absolute;top: 1.5rem;left: 50%;margin: 0 0 0 -2.5rem;}
div.y_startPage div.y_pic1 div.y_pic2 div.y_thirdPage p{font-size: 0.35rem;color: white;position: absolute;top: 7rem;left: 50%;margin: 0 0 0 -1.51rem;padding: 0.1rem 0.8rem;border: 1px solid white;border-radius: 10px;}
.swiper-pagination-bullet{ border:5px white solid; opacity:1;}
.swiper-pagination-bullet-active{background:#ccc;}